{{- if ne .chezmoi.os "linux" -}}
.bashrc
.zshrc
.tmux.conf
.opencode/
.ssh/authorized_keys
{{- end }}

# 永远不要同步的内容 (通常是缓存或敏感临时文件)
.cache/
.npm/
.vscode-server/
.zed_server/
.dotnet/
.gemini/
.wget-hsts
.Xauthority
.bash_history
.claude/tmp/
.config/nvim/lazy-lock.json