{{- $osId := .chezmoi.os -}}
{{- $arch := .chezmoi.arch -}}
{{- if eq $arch "amd64" }}{{ $arch = "x86_64" }}{{ end -}}
{{- if eq $arch "arm64" }}{{ $arch = "aarch64" }}{{ end -}}

{{- $fontDir := "" -}}
{{- if eq $osId "darwin" }}{{ $fontDir = "Library/Fonts" -}}
{{- else if eq $osId "linux" }}{{ $fontDir = ".local/share/fonts" -}}{{ end -}}

{{- if ne $osId "windows" -}}
{{-   if $fontDir -}}
{{-     $nfVersion := (gitHubLatestRelease "ryanoasis/nerd-fonts").TagName -}}
{{-     range .packages.linux.fonts }}
["{{ $fontDir }}/{{ . }}"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nfVersion }}/{{ . }}.tar.xz"
    exact = true
    refreshPeriod = "168h"
{{      end -}}
{{-   end }}

{{-   $uvAsset := printf "uv-%s-unknown-linux-musl.tar.gz" $arch -}}
{{-   if eq $osId "darwin" }}{{ $uvAsset = printf "uv-%s-apple-darwin.tar.gz" $arch }}{{ end -}}
{{-   $uvUrl := gitHubLatestReleaseAssetURL "astral-sh/uv" $uvAsset }}
[".local/bin/uv"]
    type = "archive-file"
    url = {{ $uvUrl | quote }}
    executable = true
    path = "uv"
    stripComponents = 1
    refreshPeriod = "168h"

[".local/bin/uvx"]
    type = "archive-file"
    url = {{ $uvUrl | quote }}
    executable = true
    path = "uvx"
    stripComponents = 1
    refreshPeriod = "168h"
{{- end -}}