{{- $osid := .chezmoi.os -}}
{{/* 增加安全检查：确保 osRelease 存在后再访问其成员 */}}
{{- if (index .chezmoi "osRelease") -}}
  {{- if hasKey .chezmoi.osRelease "id" -}}
    {{- $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
  {{- end -}}
{{- end -}}

{{- $agekey := joinPath .chezmoi.homeDir ".config/chezmoi/key/age.txt" -}}
encryption = "age"

[data]
    osid = {{ $osid | quote }}

# ==========================================
# Age 加密配置
# ==========================================
[age]
    identity = {{ $agekey | quote }}
    recipient = "age1t445u7zvew9tnde9e7uxvux6s4h3arw378tp42pqh29y8xlutytsp7z4v5"

# ==========================================
# Git 配置
# ==========================================
[git]
    autoAdd = false
    autoCommit = true
    autoPush = true
