[user]
  name = {{ .git.user.name }}
  email = {{ .git.user.email }}

[core]
{{- if eq .chezmoi.os "windows" }}
  autocrlf = true
{{- else }}
  autocrlf = input
{{- end }}
  editor = nvim

[alias]
  st = status
  cm = commit

[credential "https://github.com"]
  helper =
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !gh auth git-credential
