[tools]
bun = "latest"
go = "latest"
node = "22"
uv = "latest"

[tasks]
setup = "mise install"
update = "mise upgrade"
which = "mise where"

[env]
GOPATH = "{{ joinPath .chezmoi.homeDir ".local/share/go" }}"
